:root, [data-bs-theme=light] {
  --bs-light: #212529;
  --bs-light-rgb: 33,37,41;
  --bs-light-text-emphasis: #0D0F10;
  --bs-light-bg-subtle: #D3D3D4;
  --bs-light-border-subtle: #A6A8A9;
  --bs-dark: #f8f8fa;
  --bs-dark-rgb: 248,248,250;
  --bs-dark-text-emphasis: #636364;
  --bs-dark-bg-subtle: #FEFEFE;
  --bs-dark-border-subtle: #FCFCFD;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1C1F23;
  --bs-btn-hover-border-color: #1A1E21;
  --bs-btn-focus-shadow-rgb: 222,222,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1A1E21;
  --bs-btn-active-border-color: #191C1F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn-outline-light {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33,37,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
}

.btn-dark {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f8f8fa;
  --bs-btn-border-color: #f8f8fa;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F9F9FB;
  --bs-btn-hover-border-color: #F9F9FB;
  --bs-btn-focus-shadow-rgb: 37,37,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F9F9FB;
  --bs-btn-active-border-color: #F9F9FB;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f8f8fa;
  --bs-btn-disabled-border-color: #f8f8fa;
}

.btn-outline-dark {
  --bs-btn-color: #f8f8fa;
  --bs-btn-border-color: #f8f8fa;
  --bs-btn-focus-shadow-rgb: 248,248,250;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f8f8fa;
  --bs-btn-hover-border-color: #f8f8fa;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f8f8fa;
  --bs-btn-active-border-color: #f8f8fa;
  --bs-btn-disabled-color: #f8f8fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f8fa;
}

